<h1>Credit goes to:</h1>
<br>
<ul>
  <li>Noah Edge: Development</li>
  <li>Wonderfulengineering.com: Background Image</li>
  <li>Oliver Zachary: Emotional Support</li>
</ul>

<div id="footer">
  <p><a href="credit.html.erb">Credit</a> | <a href="submit.html.erb">Submit</a> | <a href="advanced.html.erb">Advanced</a></p>
</div>