<h1>Credit goes to:</h1>
<br>
<h4>Noah Edge: Development</h4>
<h4>Wonderfulengineering.com: Background Image</h4>
<h4>Oliver Zachary: Emotional Support</h4>
<div id="footer">
  <p><a href="/">Home</a> | <a href="submit">Submit</a><!-- | <a href="advanced">Advanced</a>--></p>
</div>