<h1>What Should I Code?</h1>
<div id="suggestion">
  [Suggestion goes here]
</div>
<p><i>Suggested by: admin</i></p>
<button type="button">New Suggestion</button>

<div id="footer">
  <p><a href="credit.html.erb">Credit</a> | <a href="submit.html.erb">Submit</a> | <a href="advanced.html.erb">Advanced</a></p>
</div>