<h1>Submit a Suggestion!</h1>
<input type="text" id="input_text">
<submit>Submit</submit>

<div id="footer">
  <p><a href="credit.html.erb">Credit</a> | <a href="submit.html.erb">Submit</a> | <a href="advanced.html.erb">Advanced</a></p>
</div>