<h1>Submit a Suggestion!</h1>
<p>Name</p>
<input type="text" id="input_text" title="Leave blank for anonymous">
<br>
<p>Suggestion</p>
<input type="text" height="45px" title="Suggestion">
<br>
<button type="submit">Submit</button>

<div id="footer">
  <p><a href="/">Home</a> | <a href="credit">Credit</a><!-- | <a href="advanced">Advanced</a>--></p>
</div>